

* {
	box-sizing: border-box;
}

body {font-family: 'ubuntu', Arial, san-serif; }

.main-header {
/*background: rgb(0,178,116);*/
background: linear-gradient(to right, #eee, rgb(0,178,116));
margin-top: 0;
padding-bottom: 1.5em;
}
h1 {
  margin-top: 0;
}

.name {
  text-align: center;
  margin-left: .5em;
  }
.main-nav a{
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
	}

.main-nav a:hover {
  color: #d9e4ea;
  font-weight: bold;
}

.bridge {
  box-shadow: 5px 5px 5px  black;
  border-radius: 10px;
}

footer {
	text-align: center;
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 20px;
}



@media(min-width: 750px) {
	.main-nav li {
		float:right;
	  background: rgba(255,141,115,0.6);
		font-size: .7em;
	  text-align: center;
		list-style: none;
	  margin: 2.5em 1.5em 0 1em;
		padding: 5px;
		}

  .name,
  .main-nav,
  .main-nav li {
  display: inline-block;
}
.wrapper {
	display: flex;
	flex-wrap: wrap;
	align: bottom;
}
.col {
	flex: 1;
}

.primary {
	width: 35%;
	height: 600px;
  background: rgba(178,34,0,.5);
  text-align: center;
  padding: 1em;

  font-size: 1.0em;
}
.filler {
width: 30%;
height: 600px;
padding-left: .25em;
background-image: url("../img/colorpencil1.jpg");
background-position: center;
opacity: 0.6;
}

.rant {
	font-size: 1.2em;
	font-weight: bold;
	}

.petition {
	align-items: center;
	width: 35%;
	height: 600px;

}

}

/*itemsOfInterest stylings*/
#interests {
height: 600px;
background-image: url("../img/colorpencil1.jpg");
opacity: 0.15;
padding-bottom: 0;
margin: 0;
}
